<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Alvido Indie Game Agency HTML Template</title>
    <meta name="description" content="Alvido Indie Game Agency HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/imageRevealHover.css">
    <link rel="stylesheet" href="assets/css/icon-font.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!--Preloader-->
    <div id="preloader" class="black2-bg">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="assets/img/logo/preloader.svg" alt="Preloader"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- header-search -->
    <div class="popup-search-box">
        <button class="searchClose"><img src="assets/img/icon/close.svg" alt="img"></button>
        <form action="#">
            <input type="text" placeholder="Search Here..">
            <button type="submit"><img src="assets/img/icon/search-white.svg" alt="img"></button>
        </form>
    </div>
    <!-- header-search-end -->

    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-arrow-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <div id="sticky-header" class="tg-header__area transparent-header">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="tgmenu__wrap">
                            <nav class="tgmenu__nav">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo-white.svg" alt="Logo"></a>
                                </div>
                                <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="menu-item-has-children"><a href="#">HOME</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">HOME ONE</a></li>
                                                <li><a href="home-2.html">HOME TWO</a></li>
                                                <li><a href="home-3.html">HOME THREE</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item-has-children active"><a href="#">PAGES</a>
                                            <ul class="sub-menu">
                                                <li><a href="about.html">ABOUT</a></li>
                                                <li><a href="service.html">SERVICE</a></li>
                                                <li><a href="service-details.html">SERVICE DETAILS</a></li>
                                                <li><a href="shop.html">SHOP</a></li>
                                                <li><a href="shop-details.html">SHOP DETAILS</a></li>
                                                <li class="active"><a href="job.html">JOB POST</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">PROJECT</a>
                                            <ul class="sub-menu">
                                                <li><a href="project.html">PROJECT</a></li>
                                                <li><a href="project-details.html">PROJECT DETAILS</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">INSIGHTS</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">BLOG</a></li>
                                                <li><a href="blog-details.html">BLOG DETAILS</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">CONTACT</a></li>
                                    </ul>
                                </div>
                                <div class="tgmenu__action d-none d-md-block">
                                    <ul class="list-wrap">
                                        <li class="search">
                                            <button type="button" class="searchBoxToggler">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </li>
                                        <li class="offCanvas-menu">
                                            <a href="javascript:void(0)" class="btn">
                                                Get lancher <i class="fas fa-arrow-right"></i>
                                                <span class="line1"></span>
                                                <span class="line2"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mobile-nav-toggler">
                                    <a href="javascript:void(0)" class="sidebar-btn">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="tgmobile__menu">
            <nav class="tgmobile__menu-box">
                <div class="close-btn"><i class="fas fa-times"></i></div>
                <div class="nav-logo">
                    <a href="index.html"><img src="assets/img/logo/logo-white.svg" alt="Logo"></a>
                </div>
                <div class="tgmobile__menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="tgmobile__menu-bottom">
                    <div class="contact-info">
                        <ul class="list-wrap">
                            <li>Our mission is to create a vibrant & inclusive.</li>
                            <li>
                                <a href="contact.html" class="btn">
                                    GET IN TOUCH <i class="fas fa-arrow-right"></i>
                                    <span class="line1"></span>
                                    <span class="line2"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="tgmobile__menu-backdrop"></div>
        <!-- End Mobile Menu -->

    </header>
    <!-- header-area-end -->

    <!-- main-area -->
    <main class="fix">

    <!--==============================
    Breadcrumb Area
    ==============================-->
    <section class="breadcrumb__area fix" data-background="assets/img/bg/breadcrumb-bg.png">
        <div class="breadcrumb__bg-1-1" data-background="assets/img/hero/hero-bg1-1.png"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7">
                    <div class="breadcrumb__content">
                        <nav class="breadcrumb">
                            <span property="itemListElement" typeof="ListItem">
                                <a href="index.html">Home</a>
                            </span>
                            <span class="breadcrumb-separator"><i class="fas fa-angle-right"></i></span>
                            <span property="itemListElement" typeof="ListItem">careers</span>
                        </nav>
                        <h3 class="title">job post</h3>
                    </div>
                </div>
                <div class="col-xl-5 d-xl-block d-none">
                    <div class="breadcrumb__img">
                        <div class="thumb">
                            <img src="assets/img/others/breadcrumb_thumb3.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!--==============================
    Job Page Area
    ==============================-->
    <section class="job-page-area pt-120 pb-120">
        <div class="container">
            <div class="row gy-80">
                <div class="col-12">
                    <div class="job-card">
                        <h3 class="job-card_title ">ui/ux designer</h3>
                        <p class="job-card_text">on-site / Salary: <span class="text-theme">$100K/pm</span></p>
                        <a href="javascript:void(0)" class="btn">
                            apply now <i class="fas fa-arrow-right"></i>
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="job-card">
                        <h3 class="job-card_title ">php developer</h3>
                        <p class="job-card_text">on-site / Salary: <span class="text-theme">$100K/pm</span></p>
                        <a href="javascript:void(0)" class="btn">
                            apply now <i class="fas fa-arrow-right"></i>
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="job-card">
                        <h3 class="job-card_title ">Laravel expert</h3>
                        <p class="job-card_text">on-site / Salary: <span class="text-theme">$100K/pm</span></p>
                        <a href="javascript:void(0)" class="btn">
                            apply now <i class="fas fa-arrow-right"></i>
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="job-card">
                        <h3 class="job-card_title ">game designer</h3>
                        <p class="job-card_text">on-site / Salary: <span class="text-theme">$100K/pm</span></p>
                        <a href="javascript:void(0)" class="btn">
                            apply now <i class="fas fa-arrow-right"></i>
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="job-card">
                        <h3 class="job-card_title ">game consultant</h3>
                        <p class="job-card_text">on-site / Salary: <span class="text-theme">$100K/pm</span></p>
                        <a href="javascript:void(0)" class="btn">
                            apply now <i class="fas fa-arrow-right"></i>
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- job-page-area-end -->

    <!--==============================
    Subscribe Area
    ==============================-->
    <section class="subscribe-area-1 bg-parralax bg-cover pt-120 pb-120" data-background="assets/img/bg/subcribe-bg1-1.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="subscribe-wrap1">
                        <div class="subscribe-wrap-thumb">
                            <img src="assets/img/others/subscribe1-1.png" alt="img">
                        </div>
                        <div class="subscribe-wrap-details">
                            <div class="section__title mb-20">
                                <h2 class="title text-white">IN THE <span class="text-theme">KNOW</span></h2>
                            </div>
                            <p class="text">Join <span class="text-white">200k+ other subscriber</span> and get the major announcements from us straight in your inbox.</p>
                            <form action="mail.php" method="POST" class="subscribe__form ajax-contact">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                                <button type="submit" class="btn">
                                    SUBSCRIBE <i class="fas fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="subscribe-cta-wrap">
                        <h4 class="subscribe-cta-title">Interested in making
                            magic with us?</h4>
                        <p class="subscribe-cta-text">See our current open roles.</p>
                        <a href="contact.html" class="btn btn-dark">
                            Working with us <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== / Subscribe Section ========-->

    </main>
    <!-- main-area-end -->


    <!-- footer-area -->
    <footer>
        <div class="footer__area black-bg">
            <div class="container">
                <div class="footer__top footer__top-two fix">
                    <div class="row justify-content-between">
                        <div class="col-md-4 order-md-2">
                            <div class="footer__widget footer__about text-center">
                                <a href="index.html" class="footer__logo"><img src="assets/img/logo/logo-white.svg" alt="img"></a>
                            </div>
                        </div>
                        <div class="col-md-auto order-md-1 text-md-start text-center">
                            <div class="footer__widget footer__contact">
                                <h4 class="footer__widget-title">Send mail</h4>
                                <p class="footer__widget-link"><a href="mailto:alvido@mail.com">alvido@mail.com</a></p>
                            </div>
                        </div>
                        
                        <div class="col-md-auto order-md-3 text-md-end text-center">
                            <div class="footer__widget footer__contact">
                                <h4 class="footer__widget-title">Call now</h4>
                                <p class="footer__widget-link"><a href="tel:+1234567890123">+123 456 7890 123</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__middle">
                    <div class="row justify-content-between">
                        <div class="col-xl-auto col-md-6">
                            <div class="footer__widget footer__about">
                                <h4 class="footer__widget-title">About</h4>
                                <p class="footer__widget-text">Driven by innovation and creativity, we're constantly evolving and expanding our platform</p>
                            </div>
                        </div>
                        <div class="col-xl-auto col-md-6">
                            <div class="footer__widget footer__links">
                                <h4 class="footer__widget-title">Explore</h4>
                                <div class="footer__link">
                                    <ul class="list-wrap">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="contact.html">FAQ’s</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-auto col-md-6">
                            <div class="footer__widget footer__contact">
                                <h4 class="footer__widget-title">Contact</h4>
                                <p class="footer__widget-text">3 Dufferin Street, London
                                    EC1Y 8NA
                                </p>
                                <div class="footer__social">
                                    <ul class="list-wrap">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.behance.com/" target="_blank"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-auto col-md-6">
                            <div class="footer__widget footer__newsletter">
                                <h4 class="footer__widget-title">Newsletter</h4>
                                <p class="footer__widget-text">Subscribe for our upcoming latest articles and news resources.
                                </p>
                                <form action="mail.php" method="POST" class="newsletter__form ajax-contact">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom footer__bottom-two">
                <div class="container text-center">
                    Copyright 2024 by <a href="#">Alvido.</a> All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->


    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/svg-inject.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery-ui-min.js"></script>

    <!-- Gsap -->
    <script src="assets/js/gsap.min.js"></script>
    <!-- ScrollTrigger -->
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <!-- ScrollToPlugin -->
    <script src="assets/js/ScrollToPlugin.min.js"></script>
    <!-- Lenis Js -->
    <script src="assets/js/lenis.min.js"></script>

    <!-- Element Moving -->
    <script src="assets/js/matter.min.js"></script>
    <script src="assets/js/throwable.js"></script>


    <script src="assets/js/ScrollToPlugin.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery.marquee.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imageRevealHover.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>